body {
    text-align: center;
  }

  .main-card button {
    position: relative;
    left: -45px;
    bottom: 15px;
  }
  .main-card button:hover {
    cursor: pointer;
  }

  .favorites {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .favorites li{
    display: flex;
    position: relative;
    align-items: center;
  }
  .favorites img:hover ~ div {
    display: block;
 
  }
  .favorites img:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .favorites div{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    /* z-index: 10; */
  }
  .favorites button {
    background: white;
    border: none;
    padding: 3px;
    font-size: 0.5rem;
    margin: 2px;
    cursor: pointer;
  }
